@use "./variables" as v;

.container {
  width: 100vw;
  height: 150vh;
  padding: 20px;
  background-image: v.$container_bg;
  main {
    background-image: v.$main_bg;
    border-radius: 0.6rem;
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: v.$main_shadow;
    h3 {
      font-family: v.$font_family;
      font-weight: 300;
      color: v.$white;
      text-align: center;
      letter-spacing: 0.13rem;
      padding: 1rem;
    }
    > p {
      font-family: v.$font_family;
      color: v.$white;
      font-size: 0.7rem;
      text-align: center;
      padding: 1rem;
      span {
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
